@font-face {
  font-family: "dana";
  src: url(./dana-medium.ttf);
}
:root {
  --login-btn: #26bfe9;
  --tarefe-btn: #f5d103;
}
*{
  box-sizing: border-box;
  font-family: "dana";
}
body{
  margin: 0;
  background-color: rgba(203, 246, 255, 1);
}
/* navbar start */
.nav{
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  padding-top: 1%;
  padding-bottom: 1%;
}

.login-area a{
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  width: 100%;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 15px;
}
.login-area {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: 45%;
  gap: 0.5rem;
}
.login-area-icon{
  display: none;
  width: 50px;
  height: 50px;
}
.khadamat-area{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: 45%;
  gap: 0.5rem;
}
.khadamat-area a{
  text-decoration: none;
  height: 100%;
  color: black;
  display: flex;
  align-items: center;
  padding: .25rem;
  border-radius: 6px;
  padding-left: 30px;
  padding-right: 5px;
}
.site-title{
  font-size: 1.5rem;
  color: var(--login-btn);
  margin-right: 5%;
}
.login-btn:hover{
  transition: all .3s;
  background-color: #0cb6e6;
}
.tarefe-btn:hover{
  transition: all .3s;
  background-color: #e5c302;
}
.icon-nav{
  margin-right: 10px;
}
.search-btn{
  background-color: #d9d9d9;
  border-radius: 5px;
  border: none;
  direction: rtl;
  padding-left: 5%;
  padding-right: 0.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.search-btn:focus{
  outline: none;
}
.search-btn::placeholder{
  color: white;
}
.icon-nav-search{
  width: 1.2%;
  height: 1.2%;
  height: auto;
  position: relative;
  left: 4.5%;
}
.tarefe-btn{
  transition: all .3s;
  color: black;
  background-color: var(--tarefe-btn);
}
.login-btn{
  transition: all .3s;
  background-color: var(--login-btn);
  color: white;
}
/* navbar responsive tablet */
@media only screen and (max-width: 750px) {
  .khadamat-area{
    display: none;
  }
  .nav{
    justify-content: space-between;
  }
  .icon-nav{
    width: 17px;
    height: 17px;
  }
  .login-area a{
    font-size: 0.7rem;
  }
}
/* navbar responsive tablet end */
/* navbar responsive mobile  */
@media only screen and (max-width: 435px) {
  .login-area{
    display: none;
  }
  .login-area-show{
    display: flex;
    flex-direction: column;
  }
  .login-area-icon{
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
/* navbar responvie mobile end */
/* navbar end */

/* container css details  */
.container{
  padding-right: 6.6%;
  margin-top: 5%;
  margin-bottom: 11%;
  width: 100%;
  height: 15vh;
}
.container-texts{
  direction: rtl;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;
  line-height: 1px;
  text-align: center;
}
.container-texts h2{
  font-size: 2rem;
  width: 100%;
  position: relative;
  top: 1vh;
}
.p1{
  color: rgba(4, 54, 70, 1);
  width: 45%;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.8rem;
}
.p2{
  font-size: 1rem;
  position: relative;
  bottom: 1vh;
}
.searchbox{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 6.6%;
}
.search-icon{
  background-color: rgba(34, 194, 231, 1);
  padding: 11px;
  border-radius: 10px 0 10px 10px;
  position: relative;
  left: 8%;
  cursor: pointer;
}
.search-btn-home{
  border-radius: 2px;
  border: none;
  background-color: rgba(217, 217, 217, 1);
  direction: rtl;
  padding: 13px;
  width: 70%;
  margin-left: 5%;
}
.search-btn-home:focus{
  outline: none;
}
#country{
  margin-left: 1%;
  border-radius: 3px;
  border: none;
  background-color: rgba(217, 217, 217, 1);
  direction: rtl;
  padding: 13px;
}
.cat{
  display: flex;
  justify-content: flex-end;
  margin-right: 6.6%;
  margin-left: 41%;
  margin-top: 2%;
}
.cat-1{
  margin-left: 3%;
}
.rb1{
  margin-left: 2%;
  margin-right: 1%;
  width: 2%;
  accent-color: black;
}
.rb2{
  margin-right: 1%;
  width: 2%;
  accent-color: black;
}
.Cards{
  display: flex;
  direction: rtl;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.spans{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3%;
  width: 40%;
}
.result-header-row{
  display: flex;
  direction: rtl;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1%;
  width: 100%;
  font-weight: bold;
}
.result-header-row span{
  margin-right: 3%;
  width: 40%;
}
.search-result{
  margin-top: 2%;
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}
.search-result li{
  cursor: pointer;
  margin-top: 5%;
}
.result-header{
  margin-top: 2%;
  margin-bottom: 3%;
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}

.header-onvan{
  margin-left: 10%;
  width: 50%;
  position: relative;
  right: -3%;
}
.Links{
  width: 100%;
  color: black;
  text-decoration: none;
}
.avali-span{
  margin-left: 10%;
  width: 35%;
}
.result-section{
  margin-top: 2%;
  direction: rtl;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 6.6%;
  margin-left: 14%;
  border-radius: 10px;
  background-color: white;
}

.more-btn{
  display: flex;
  margin-right: auto;
  padding: 1%;
  margin-top: 1.1%;
  margin-left: 60%;
  background-color: gray;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}
.more-btn-hide{
  display: none;
}
/* container responsive tablet */
@media only screen and (max-width: 750px) {
  .container-texts{
    direction: rtl;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
    line-height: 1px;
    text-align: center;
  }
  .container-texts h2{
    font-size: 2rem;
    width: 100%;
    position: relative;
    top: 1vh;
  }
  .p1{
    color: rgba(4, 54, 70, 1);
    width: 75%;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.8rem;
  }
  .p2{
    font-size: 1rem;
  }
  .searchbox{
    margin-top: 20%;
  }
  .search-btn-home{
    border-radius: 2px;
    border: none;
    background-color: rgba(217, 217, 217, 1);
    direction: rtl;
    padding: 13px;
    width: 55%;
    margin-left: 5%;
  }
  #country{
    margin-right: 10%;
    margin-left: 1%;
    border-radius: 3px;
    border: none;
    background-color: rgba(217, 217, 217, 1);
    direction: rtl;
    padding: 13px;
  }
  .cat{
    display: flex;
    justify-content: center;
    margin-left: -1%;
    margin-top: 1%;
  }
  .Cards{
    display: flex;
    direction: rtl;
    margin-top: 1%;
    cursor: pointer;
    width: 360px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    box-shadow: 2px 5px 4px #888888;
    padding: 3%;
    border-radius: 5px;
    font-size: 0.8rem;
  }
}

/* container responsive tablet end */
/* container responsive mobile  */
@media only screen and (max-width: 435px) {
  .container-texts h2{
    font-size: 1.4rem;
    width: 100%;
    position: relative;
    top: 1vh;
  }
  .p1{
    color: rgba(4, 54, 70, 1);
    width: 90%;
    font-size: 0.9rem;
    text-align: center;
  }
  .p2{
    font-size: 0.8rem;
  }
  .searchbox{
    margin-top: 15%;
  }
  .search-btn-home{
    border-radius: 2px;
    border: none;
    background-color: rgba(217, 217, 217, 1);
    direction: rtl;
    padding: 13px;
    width: 55%;
    margin-left: 5%;
  }
  #country{
    width: 20%;
    margin-left: 1%;
    font-size: 0.6rem;
    border-radius: 3px;
    border: none;
    background-color: rgba(217, 217, 217, 1);
    direction: rtl;
    padding: 13px;
  }
  .cat{
    display: flex;
    justify-content: center;
    margin-left: -1%;
    margin-top: 1%;
  }
}
/* container mobile end */
/* container end */


/* Filter page  */

.Filters-open-btn{
  background-color: rgba(34, 194, 231, 1);
  text-decoration: none;
  color: white;
  direction: rtl;
  padding: 12px;
  border-radius: 3px;
  cursor: pointer;
}
.filterbox{
  margin-top: 2%;
  direction: rtl;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 6.6%;
  margin-left: 14%;
  border-radius: 10px;
  background-color: white;
}
.filterbox-hidden{
  display: none;
}
.select-filter{
  display: flex;
  direction: rtl;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
}
.select-filter h1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 10px;
  padding: 1%;
  font-size: 1.3rem;
  cursor: pointer;
}

.filter2detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 10px;
  padding: 1%;
  font-size: 1.3rem;
  cursor: pointer;
  animation: blurAndFadeOut 0.5s forwards;
}
.filter2detail-hidden{
  display: none;
}
.filter3detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 10px;
  padding: 1%;
  font-size: 1.3rem;
  cursor: pointer;
  animation: blurAndFadeOut 0.5s forwards;
}
.filter3detail-hidden{
  display: none;
}
.filter4detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 10px;
  padding: 1%;
  font-size: 1.3rem;
  cursor: pointer;
  animation: blurAndFadeOut 0.5s forwards;
}
.filter4detail-hidden{
  display: none;
}
.filter5detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 10px;
  padding: 1%;
  font-size: 1.3rem;
  cursor: pointer;
  animation: blurAndFadeOut 0.5s forwards;
}
.filter5detail-hidden{
  display: none;
}
/* first line */
.filter1detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 96%;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 10px;
  padding: 1%;
  font-size: 1rem;
  cursor: pointer;
  animation: blurAndFadeOut 0.5s forwards;
}
.filter1detail-hidden{
  display: none;
  
}
@keyframes blurAndFadeOut {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.element {
  animation: blurAndFadeOut 2s forwards;
}
.filter1row{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 96%;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 10px;
  padding: 1%;
  font-size: 1rem;
  cursor: pointer;
}
.filter1row span{
  width: 15%;
}
.filter1row select{
  width: 20%;
}
#filter-type{
  margin-right: 5%;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  padding: 0.5%;
}
.delete-cat{
  display: flex;
  direction: rtl;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  align-items: flex-start;
  margin-right: 6.6%;
  margin-left: 14%;
  border-radius: 10px;
  margin-top: 2%;
}
.delete-cat-hide{
  display: none;
}

.delete-cat h2{
  margin-right: 2%;
}
.delete-items{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.delete-items h3{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 217, 217, 1);
  padding: 0.5%;
  margin-left: 1%;
  margin-right: 1.5%;
  border-radius: 15px;
  flex-basis: 16%;
  animation: blurAndFadeOut 0.5s forwards;
  cursor: pointer;
  color: rgba(255, 56, 56, 1);
}
.delete-cat .delete-hide{
  display: none;
}
.delete-icon{
  margin-left: 10px;
}
/* first line end */
@media only screen and (max-width: 750px) {
  
}
/* Filter page end */
/* company page */
.company-container{
  height: 100vh;
  width: 100%;
}
.company-header{
  height: 35vh;
  width: 80%;
  direction: rtl;
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border-radius: 10px;
}
.company-header-title{
  display: flex;
  flex-direction: row;
  width: 85%;
  margin-right: 7%;
}
.title-names{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.7rem;
  line-height: 1rem;
  margin-right: 2%;
}
.save-icon{
  margin-right:87%;
  cursor: pointer;
  margin-top: 1%;
}
.icon8{
  background-color: rgba(217, 217, 217, 1);
  border-radius: 5px;
  height: 7%;
  width: 7%;
  padding: 1.2%;
  margin-top: auto;
  margin-bottom: auto;
}
.select-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: 1px solid black;
  direction: rtl;
  margin-right: 7%;
  margin-top: 3%;
  margin-left: 7%;
}
.select-info-btn{
  background-color: rgba(34, 194, 231, 1);
  padding: 0.7%;
  border-radius: 5px;
  width: 15%;
  margin-right: 2%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}
.sabti-h1{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  font-size: 1.5rem;
}
.sabti-info{
  display: flex;
  direction: rtl;
  margin-right: auto;
  margin-left: auto;
  height: 40vh;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 2%;
}
.sabti-row{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin-right: 12%;
}
.sabti-text{
  display: flex;
  direction: rtl;
  margin-top: 4%;
  flex-basis: 30%;
  font-size: 1rem;
  margin-right: 2.5%;
}
.sabti-text:last-child{
  display: flex;
  direction: rtl;
  margin-top: 4%;
  flex-basis: 90%;
  font-size: 1rem;
  margin-right: 2.5%;
}
.sabti-icon{
  margin-left: 10px;
}

/* ashkhas css */
.sabti-askhkhas-info{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  direction: rtl;
  margin-right: auto;
  margin-left: auto;
  height: 40vh;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 2%;
}
.title-cat{
  position: relative;
  bottom: 15%;
  margin-right: 2%;
  background-color: white;
  border-radius: 10px;
  padding: 1%;
}
.title-cat h1{
  margin-top: auto;
  font-size: 1.5rem;
}
.title-ceo{
  background-color: rgba(217, 217, 217, 1);
  display: flex;
  border-radius: 10px;
  width: 90%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
}
.title-ceo-pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 0.2rem;
  font-size: 0.7rem;
}
.ceo-pic{
  position: relative;
  bottom: 15%;
}
.modramel{
  color: rgba(237, 125, 49, 1);
}
/* ashkhas end */
/* company page end */